<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.restrosmart.restrohotel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_restrosmart"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher_restrosmart"
        android:roundIcon="@mipmap/ic_launcher_restrosmart"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysVisible"
        tools:ignore="GoogleAppIndexingWarning">
      <!--  <activity android:name=".Captain.Activities.ActivityCapSpecificOrders"></activity>-->
        <activity android:name=".ActivitySplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 <receiver android:name="com.restrosmart.restro.Admin.MyReceiver" >
            <intent-filter>
                <action android:name="Add_Category" >
                </action>
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Admin.ActivityLogin"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Admin.ActivityNewAddEmployee" />
        <activity
            android:name=".Admin.ActivityAdminDrawer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_admin_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.ActivityChangePassword"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Admin.ActivityAdminForgetPassword" />
        <activity
            android:name=".Admin.ActivityEmpolyeeProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ActivityNewOrderViewDetails"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="New Order Details"
            android:parentActivityName=".Admin.ActivityChangePassword"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".Admin.ActivityOnGoingViewDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ActivityPastViewOrderDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ActivityMenu"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ActivityAddNewMenu"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ActivityAddNewOffer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ActivityAdminProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".Admin.ActivityImageTopping" />
        <activity android:name=".SuperAdmin.Activities.ActivitySADashBoradDrawer" />
        <!--
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="New Order Details"
            android:parentActivityName=".Admin.ActivityAdminDrawer"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"/>


              android:configChanges="orientation"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat"
        -->
        <activity
            android:name=".Admin.ActivityAdminRegister"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ActivityCategoryGallery"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".Admin.ActivityAddPayment" />
        <activity
            android:name=".Admin.ActivityMenuGallery"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".Admin.ActivityFlavour" />
        <activity
            android:name=".Admin.ActivityFlavourGallery"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ActivityAddNewBranch"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".Admin.ActivityTableInformation" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".Admin.ActivityDisplayPromocode"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Admin.ActivityDisplayRushHours"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Admin.ActivityDisplayScratchCard"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />


        <activity android:name=".Admin.ActivityDisplayDailyOffer"/>
       <activity android:name=".Admin.ActivitySelectMenu" />
        <activity android:name=".Admin.ActivityAssignTable" />
        <activity android:name=".Admin.ActivityMenuOrderDidplay" />
        <activity android:name=".SuperAdmin.Activities.ActivitySAEmpolyeeProfile" />
        <activity android:name=".SuperAdmin.Activities.ActivityAddAdmin" />
        <activity android:name=".SuperAdmin.Activities.ActivityAddHotel" />
        <activity android:name=".Captain.Activities.ActivityEditCartMenu" />
        <activity android:name=".Captain.Activities.ActivityCartBill" />
        <activity android:name=".Captain.Activities.ActivityHotelMenu" />
        <activity android:name=".Captain.Activities.ActivityTableOrders" />
        <activity android:name=".Captain.Activities.ActivityCaptainDash" />
        <activity android:name=".Captain.Activities.ActivityCapOrders" />
        <activity android:name=".Captain.Activities.ActivityCapSpecificOrders" />


        <activity android:name=".SuperAdmin.Activities.ActivityViewHotelDetails"/>

        <activity android:name=".SuperAdmin.Activities.ActivitySaAdminProfile"/>

        <activity android:name=".SuperAdmin.Activities.ActivitySAProfile"/>

        <activity android:name=".Admin.ActivityMenuCart"/>

        <activity android:name=".Admin.ActivityBannerImage"/>

        <activity android:name=".Admin.ActivityDaliyBuyGetoffer"/>
        <activity android:name=".Admin.ActivityInvoice"/>

        <activity android:name=".Admin.ActivityHelpSupport"/>
        
    </application>

</manifest>